.hero-block {
  text-align: center;
  position: relative;
  display: table;
  height: 100vh;
  width: 100%;
  margin-top: -75px;
}

.hero-block .row {
  display: table-cell;
  vertical-align: middle;
}

.hero-block .columns {
  min-height: 210px;
}

.hero-block svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-block svg:nth-child(1) {
  bottom: 0;
}

.hero-block svg:nth-child(2) {
  z-index: -1;
}
.hero-block svg:nth-child(3) {
  z-index: -2;
}

.hero-block img {
  width: 300px;
  max-width: 90%;
  min-height: 210px;
}
