button {
  color: white !important;
  border-radius: 25px;
  border: none;
  min-width: 155px;
  background-color: #f4661e;
  transition: all 0.5s;
}

button:hover {
  min-width: 175px;
  border-radius: 10px;
}
