@font-face {
  font-family: "Party";
  src: url("./fonts/Party.otf");
}

body {
  background: #fffffe;
  margin: 0;
  padding-bottom: 300px;
}

h1,
h2,
h3 {
  font-family: Party;
  font-weight: bold;
}

.centered {
  text-align: center;
  margin: auto;
}

p {
  font-size: 16px;
  padding: 0 10px;
}
