@font-face {
  font-family: "Party";
  src: url("./fonts/Party.otf");
}

body {
  background: #fffffe;
  margin: 0;
}

h1 {
  font-family: Party;
  font-weight: bold;
}

.centered {
  text-align: center;
  margin: auto;
}

p {
  font-size: 16px;
}
